.sandwich
  display inline-block
  vertical-align middle
  margin-right: 15px
  position relative
  width: 50px
  height: 50px
  border 2px solid #fff
  border-radius 50px
  &.active
    .sandwich-line--top
      top 21px
      transform rotate(45deg)

    .sandwich-line--middle
      opacity 0

    .sandwich-line--bottom
      top 21px
      transform rotate(-45deg)


.sandwich-line
  height: 4px
  left: 50%
  margin-left:-12.5px
  width: 25px
  position: absolute
  display block
  background-color #FFFFFF
  transition all linear .5s

.sandwich-line--top
  top 13px

.sandwich-line--middle
  top 21px
  opacity 1

.sandwich-line--bottom
  top 29px

.g-btn
  display inline-block
  height: 30px
  line-height: 28px
  border 1px solid #FFFFFF
  padding: 0 20px
  border-radius 20px
  color: #fff
  background-color mainColor
  transition all linear .3s
  cursor pointer

  &:hover
    background-color #FFFFFF
    color mainColor

.g-section-title
  margin-bottom: 30px
  font-size 42px
  text-align center
  color: mainColor
  font-family titleFont
  &.g-section-title--white
    color #FFFFFF

