.about-content
  display flex
  justify-content space-between
  flex-wrap wrap

.about-text,
.about-video
  flex-basis auto
  width 49%

.about-text
  text-align center
  p
    text-align left
    margin-bottom: 25px
    color mainColor
    line-height: 1.1


.intstagram-text
  font-size: 24px
  display inline-block
  position: relative
  font-weight: 700
  color: mainColor
  &:before
    content ''
    background url("../img/svg/instagram.svg") 0 0 no-repeat
    display inline-block
    margin-right: 15px
    width: 35px
    height: 35px
    vertical-align middle

